body{
	font: 14px sans-serif;
}
.wrapper{
	width: 650px;
	margin: 60px auto;
}
.wrapper-log{
	width: 350px;
	margin: 60px auto;
}
.page-start h2{
    margin-top: 0;
}
table tr td:last-child a{
    margin-right: 15px;
}


.footer {
	position: fixed;
  	bottom: 0;
  	width: 100%;
	background-color: #f5f5f5;
}
.ct-footer-post {
  	text-align: center;
  	background: #080808;
  	padding: 10px 0;
}
.ct-footer-post a,
.ct-footer-post p {
  	color: #fff;
}
.ct-footer-post a:hover {
  	text-decoration: underline;
}

@media (min-width:768px) {
  .ct-footer-post p {
  	display: inline-block;
  }
  .ct-footer-post p + p {
    padding-left: 50px;
  }
}

@media print {

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }
  nav, footer {
  	display: none;
  }
  a[href]:after {
    content: none !important;
  }

}